<nav class="navbar">

    <div class="logo">

        <div class="logo-image">
          <img src="assets/images/logo.png" alt="Gainsco AI Logo">
        </div>

    </div>

    <div class="nav-links">

        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Home
        </a>

        <a routerLink="/upload" routerLinkActive="active">
            Upload
        </a>

        <a routerLink="/chat" routerLinkActive="active">
            Chat
        </a>

    </div>


</nav>