<nav class="navbar">

<div class="brand-name">

    <div >

        <span class="brand-blue">Co</span>
        <span >forge</span>

    </div>

</div>

    <div class="nav-links">

        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Home
        </a>

        <a routerLink="/upload" routerLinkActive="active">
            Upload
        </a>

        <a routerLink="/chat" routerLinkActive="active">
            Chat
        </a>

    </div>


</nav>